<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" version="3.1">
    <servlet>
        <servlet-name>e1</servlet-name>
        <servlet-class>e1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>e1</servlet-name>
        <url-pattern>/e1</url-pattern>
    </servlet-mapping>
</web-app>
